<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VecNote{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home' %}"><strong>VecNote</strong></a>
            <a class="navbar-item" href="{% url 'list' %}">List</a>
            <a class="navbar-item" href="{% url 'todos' %}">Todos</a>
            <a class="navbar-item" href="{% url 'create' %}">Create</a>
            <a class="navbar-item" href="{% url 'search' %}">Search</a>
            <a class="navbar-item" href="{% url 'trashbin' %}">Trash</a>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>

</body>

</html>