{% extends "base.html" %}

{% block content %}
<h1>{{ document.title }}</h1>
<div class="block subtitle is-size-7">
    {% for tag in document.tags.all %}
    <a class="tag is-primary is-light" href="{% url 'tag-detail' tag.slug %}">{{ tag }}</a>
    {% endfor %}
    Created: {{ document.created_at|date:"Y-m-d" }}
    &nbsp;|&nbsp;
    Last Modified: {{ document.modified_at|date:"Y-m-d H:i" }}
    &nbsp;|&nbsp;
    {% if document.is_pinned %}
    <a href="{% url 'unpin' document.pk %}">Unpin</a>
    {% else %}
    <a href="{% url 'pin' document.pk %}">Pin</a>
    {% endif %}
    &nbsp;
    <a href="{% url 'edit' document.pk %}">Edit</a>
    &nbsp;
    <a href="{% url 'delete' document.pk %}">Delete</a>
</div>
<div class="block">{{ document.html_content | safe }}</div>
<hr>
{% endblock %}
