{% extends "base.html" %}

{% block content %}
<h1>Search</h1>
<div class="section">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="field has-addons">
                <p class="control">
                    <span class="select">
                        {{ form.query_type }}
                    </span>
                </p>
                <p class="control is-expanded">
                    <form method="get">
                        {{ form.query }}
                    </form>
                </p>
                <p class="control">
                    <button type="submit" class="button is-info">Search</button>
                </p>
            </div>
        </form>
        <ul class="mt-4">
            {% for result in results %}
            <li>
                <a href="{% url 'detail' result.pk %}">{{ result.title }}</a>
                {% if result.similarity %}
                (Similarity: {{ result.similarity }})
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}