{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <h1 class="title">Update Todoitem</h1>
        <p class="subtitle">Do you want to update the todo item "<strong>{{ object.title }}</strong>"?</p>
        <form method="post">
            {% csrf_token %}
            <div class="field is-grouped">
                <div class="control">
                    <button type="submit" class="button is-info">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
